<div class='vortex'>
    <canvas class='vortex__canvas'></canvas>

    <div class='vortex__copy'>
        <h1 class='vortex__headline'>The Vortex</h1>
        <h2 class='vortex__standfirst'>Why we are all to blame for the nightmare of online debate <span class='vortex__byline'>by Oliver Burkeman</h2>

        <div class='vortex__thing vortex__thing--1 vortex__thing--thumb-1'>
            <img class='vortex__image' src='@@assetPath@@/assets/images/thumb.png' />
        </div>

        <div class='vortex__thing vortex__thing--2 vortex__thing--thumb-2'>
            <img class='vortex__image' src='@@assetPath@@/assets/images/thumb.png' />
        </div>

        <div class='vortex__thing vortex__thing--3 vortex__thing--sad-1'>
            <img class='vortex__image' src='@@assetPath@@/assets/images/sad.png' />
        </div>

        <div class='vortex__thing vortex__thing--4 vortex__thing--sad-2'>
            <img class='vortex__image' src='@@assetPath@@/assets/images/sad.png' />
        </div>

        <div class='vortex__thing vortex__thing--5 vortex__thing--angry-1'>
            <img class='vortex__image' src='@@assetPath@@/assets/images/angry.png' />
        </div>

        <div class='vortex__thing vortex__thing--6 vortex__thing--angry-2'>
            <img class='vortex__image' src='@@assetPath@@/assets/images/angry.png' />
        </div>

        <div class='vortex__thing vortex__thing--7 vortex__thing--heart-1'>
            <img class='vortex__image' src='@@assetPath@@/assets/images/heart.png' />
        </div>

        <div class='vortex__thing vortex__thing--8 vortex__thing--heart-2'>
            <img class='vortex__image' src='@@assetPath@@/assets/images/heart.png' />
        </div>

        <div class='vortex__thing vortex__thing--9 vortex__thing--heart-3'>
            <img class='vortex__image' src='@@assetPath@@/assets/images/heart.png' />
        </div>
    </div>
</div>