.vortex {
    position: relative;
}

.vortex__canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('@@assetPath@@/assets/images/fallback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $c-black;

    .has-loaded & {
        background-image: none;
    }
}

.vortex__copy {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 60px;
    max-width: 700px;
    height: fit-content;
    margin: auto;
    font-family: 'Guardian Egyptian Web';
    font-size: 200;

    @include mq(desktop) {
        left: 130px;
    }
}

.vortex__headline {
    color: $c-white;
    font-size: 13vw;
    line-height: .8;
    font-weight: 200;
    margin: 0;
    margin-bottom: 6px;
    -webkit-font-smoothing: antialiased;

    @include mq(desktop) {
        font-size: 120px;
        margin-bottom: 12px;
    }
}

.vortex__standfirst {
    font-weight: 200;
    color: $c-blue;
    font-size: 5vw;
    line-height: 1.2;
    margin: 0;
    -webkit-font-smoothing: antialiased;

    @include mq(desktop) {
        font-size: 42px;
        line-height: 1.1;
    }
}

.vortex__byline {
    color: $c-white;
    display: block;
}


.vortex__thing {
    position: absolute;
    z-index: 10001;
    min-width: 60px;
    max-width: 200px;
    animation: vortex 2s linear infinite;
    display: none;

    .has-loaded & {
        display: block;
    }
}

@keyframes wiggle {
    0%, 100% {
        transform: translateX(10px) translateY(10px) rotate(15deg);
    }
    33% {
        transform: translateX(10px) translateY(20px) rotate(-10deg);
    }
    66% {
        transform: translateX(0px) translateY(0px) rotate(0deg); 
    }
}

.vortex__image {
    width: 100%;
    animation: wiggle 2s ease-in-out infinite;
}

@keyframes vortex1 {
    0%, 100% {
        transform: translateX(0) translateY(0) rotate(20deg);
    }
    50% {
        transform: translateX(3vw) translateY(10vh) rotate(32deg);
    }
}

.vortex__thing--thumb-1 {
    bottom: -140%;
    left: -40%;
    width: 16vw;
    animation: vortex1 5s linear infinite;
}

@keyframes vortex2 {
    0%, 100% {
        transform: translateX(0) translateY(0) rotate(-10deg);
    }
    50% {
        transform: translateX(6vw) translateY(2vh) rotate(8deg);
    }
}

.vortex__thing--thumb-2 {
    animation-delay: 1.5s;
    top: -120%;
    right: 10%;
    width: 14vw;
    animation: vortex2 4s linear infinite;

    .vortex__thumb-image {
        animation-delay: -.5s;
        animation-duration: 1.2s;
    }
}

@keyframes vortex3 {
    0%, 100% {
        transform: translateX(0) translateY(0) rotate(20deg);
    }
    50% {
        transform: translateX(1vw) translateY(4vh) rotate(12deg);
    }
}

.vortex__thing--sad-1 {
    bottom: -80%;
    left: 14%;
    width: 9vw;
    animation: vortex3 5s linear infinite;
}

@keyframes vortex4 {
    0%, 100% {
        transform: translateX(0) translateY(0) rotate(-120deg);
    }
    50% {
        transform: translateX(1vw) translateY(4vh) rotate(-108deg);
    }
}

.vortex__thing--sad-2 {
    top: -150%;
    left: 126%;
    width: 7vw;
    animation: vortex4 5s linear infinite;
}

@keyframes vortex5 {
    0%, 100% {
        transform: translateX(0) translateY(0) rotate(-15deg);
    }
    50% {
        transform: translateX(-4vw) translateY(2vh) rotate(3deg);
    }
}

.vortex__thing--angry-1 {
    top: -110%;
    width: 20%;
    left: -5%;
    animation: vortex5 5s linear infinite;
}

@keyframes vortex6 {
    0%, 100% {
        transform: translateX(0) translateY(0) rotate(-15deg);
    }
    50% {
        transform: translateX(-4vw) translateY(2vh) rotate(3deg);
    }
}

.vortex__thing--angry-2 {
    width: 8vw;
    right: 10%;
    bottom: -130%;
    animation: vortex6 5s linear infinite;
}

@keyframes vortex7 {
    0%, 100% {
        transform: translateX(0) translateY(0) rotate(-15deg);
    }
    50% {
        transform: translateX(-4vw) translateY(2vh) rotate(3deg);
    }
}

.vortex__thing--heart-1 {
    width: 6vw;
    left: 30%;
    top: -196%;
    animation: vortex7 5s linear infinite;
}

@keyframes vortex8 {
    0%, 100% {
        transform: translateX(0) translateY(0) rotate(-15deg);
    }
    50% {
        transform: translateX(-4vw) translateY(2vh) rotate(3deg);
    }
}

.vortex__thing--heart-2 {
    width: 8vw;
    left: -40%;
    top: 20%;
    animation: vortex8 5s linear infinite;
}

@keyframes vortex9 {
    0%, 100% {
        transform: translateX(0) translateY(0) rotate(-15deg);
    }
    50% {
        transform: translateX(-4vw) translateY(2vh) rotate(3deg);
    }
}

.vortex__thing--heart-3 {
    width: 4vw;
    right: -20%;
    bottom: 0%;
    animation: vortex9 5s linear infinite;
}

@keyframes vortex10 {
    0%, 100% {
        transform: translateX(0) translateY(0) rotate(-15deg);
    }
    50% {
        transform: translateX(-4vw) translateY(2vh) rotate(3deg);
    }
}

.vortex__thing--heart-4 {
    width: 8vw;
    right: -10%;
    bottom: -130%;
    animation: vortex10 5s linear infinite;
}

@for $i from 1 through 9 {
    .vortex__thing--#{$i} {
        animation-duration: random(4s) + 2s;
        animation-delay: random(4s) - 8s;

        .vortex__thumb-image {
            animation-delay: random(4s) - 8s;
            animation-duration: random(3s) + 1s;
        }
    }
}

@include mq($until: tablet) {
    .vortex__thing--sad-2 {
        left: -10%;
        top: -300%;
        width: 18vh;
    }

    .vortex__thing--angry-2 {
        width: 13vh;
    }

    .vortex__thing--heart-2 {
        left: 40%;
        bottom: -330%;
        top: auto;
        width: 20vh;
    }

    .vortex__thing--thumb-2 {
        width: 18vh;
    top: -200%;
    right: 2%;
    }
}
